body {
    padding-top: 40px;
    padding-bottom: 20px;
}

.flogin, .fbuscar {
    margin: 0;
}

.fdLogin {
    padding: 10px;
}

.iptLogin {
    margin-top: 8px;
}

div.ui-datepicker {
    font-size: 90.5%;
}

.textData {
    width: 90px;
}

.textHora {
    width: 70px;
}

.txtEstado {
    width: 70px;
}

.spanEmail {
    width: 180px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #f7252e;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error {
    border: 1px solid #f7252e;
}

input[type="password"].input-validation-error {
    border: 1px solid #f7252e;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #fffcfd;
    font-size: 1.1em;
    list-style: none;
}

.validation-summary-valid {
    display: none;
}

form.frmLogout {
    margin: 0;
}

a.logout {
    display: block;
    padding: 11px 10px 8px;
    text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    float: none;
    text-decoration: none;
}

.linkN {
    font-weight: bold;
}

.esconde {
    display: none;
}

.centro {
    margin-left: auto;
    margin-right: auto;
}

input[type="text"].yellow, select.yellow, .yellow {
    background-color: #FFFFE6;
}

.rodape {
    padding: 2px;
    font-size: 16px;
    font-weight: 200;
    color: #EEEEEE;
    background-color: #0092d3;
    background-image: -moz-linear-gradient(top, #0099dd, #0087c4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0099dd), to(#0087c4));
    background-image: -webkit-linear-gradient(top, #0099dd, #0087c4);
    background-image: -o-linear-gradient(top, #0099dd, #0087c4);
    background-image: linear-gradient(to bottom, #0099dd, #0087c4);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 30px;
    border: 1px solid #dcdcdc;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 2600px;
}

    .rodape h1 {
        margin-bottom: 0;
        font-size: 30px;
        line-height: 1;
        color: #EEEEEE;
        letter-spacing: -1px;
    }


    .rodape li {
        line-height: 31.5px;
    }

.conteudo {
    height: auto;
    padding-bottom: 40px;
}

.alturaMedia {
    height: 200px;
}
