@using ConsultaMed_WEB.Models

@{
    var ctx = new CmContext();

    var list = ctx.Clinicas.OrderBy(c => c.Descricao).ToList();
    var selectList = new SelectList(list, "ClinicaId", "Nome", Model);

    <div class="control-group">
        @Html.Label("Clinica", new {@class = "control-label"})
        <div class="controls">
            @Html.DropDownList("ClinicaId", selectList, "[Selecione]", new {id = "Clinica", onchange = "carregaEspecialidade()"})
        </div>
    </div>

    ctx.Dispose();

}
