
@using (Ajax.BeginForm("Agendar2", "Consulta", new AjaxOptions { UpdateTargetId = "result" }))
{
    <div class="form-horizontal well">
        <fieldset>
            <legend>Filtrar por Médico</legend>
            <div class="control-group">
                @Html.Label("Médicos(s)", new {@class = "control-label"})
                <div class="controls">
                    @Html.DropDownList("UserId", (SelectList) ViewData["medicoList"], "[Selecione]", new {onchange = "carregaConsultas()", @id = "listaMedicos"})
                </div>
            </div>
        </fieldset>
    </div>
}